@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-[#493628];
  }
}

@layer utilities {
  .text-brown {
    color: #493628;
  }
}

img {
  display: inline;
}

.collapse {
  visibility: visible;
}

a {
  text-decoration: none;
  color: #493628;
  font-weight: bold;
}

p {
  margin-bottom: 0.375rem;
}