.sidebar.collapsed .content {
  width: 80px; /* Sidebar minimal hanya untuk tombol collapse */
  padding-left: 0;
  padding-right: 0;
}

.sidebar.collapsed .menus,
.sidebar.collapsed .sidebar-footer,
.sidebar.collapsed .profile,
.sidebar.collapsed .user {
  display: none;
}

.sidebar.collapsed .content {
    background-color: transparent;
}

.sidebar.collapsed .content button {
    background-color: #493628;
    color: white;
}

.sidebar .content {
  transition: width 0.3s ease;
}

.sidebar .content {
    background: #FFFFFF;
    width: 290px;
    position: relative;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    overflow-y: auto;
}

.sidebar .content::-webkit-scrollbar {
    display: none;
  }

.sidebar .menus .item{
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .menus .item a{
    color: #BFB29E;
    font-weight: 600;
    transition: all 0.2s linear;
}

.sidebar .menus .item.active a {
    color: #493628;
    font-weight: 600;
}

.sidebar .menus .item:hover a { 
    color: #705C53;
    font-weight: 600;
}

.sidebar .menus .item.active::after{
    content: " ";
    border: 2px solid #493628;
    border-radius: 999px;
    width: 0px;
    height: 100%;
    position: absolute;
    background-color: gray;
    right: 0;
    transition: all 0.2s linear;
}

.sidebar-footer .footer-card{
    background-color: #F3EEEA;
    border-radius: 1rem;
    padding: 20px;
}

.sidebar-footer .btn-get-started{
    background-color: #493628;
    padding: 0.438rem;
}

.sidebar-footer .btn-get-started:hover {
    background-color: #705C53;
}

@media (min-height: 900px){
    .sidebar .content {
        overflow-y: hidden;
    }
}