/* Sign-in */
.sign-in .img-fluid{
    max-width: 100%;
    height: auto;
}

.sign-in .bg-blue{
    background-color: #1A1640;
}

.sign-in input[type="password"],
.sign-in input[type="text"]{
    border: 1px solid #dee2e6;
    padding: 0.75rem 1.25rem;
}

.sign-in input[type="password"]:focus-within,
.sign-in input[type="text"]:focus-within{
    color: black;
    outline: 3px solid #493628;
    box-shadow: none;
}

.sign-in input[type="password"]::placeholder,
.sign-in input[type="text"]::placeholder{
    color: #CCD0DD;
}

.sign-in .btn-sign-in {
    padding: 0.75rem;
    background-color: #493628;
}

.sign-in .btn-sign-in:hover {
    background-color: #705C53;
}

.sign-in .btn-sign-up {
    padding: 0.75rem;
    background-color: #FFFFFF;
    border: 2px solid #493628;
    transition: ease-in-out 0.3s;
}

.sign-in .btn-sign-up:hover {
    background-color: #705C53;
    color: #FFFFFF;
}

.sign-in .button-group{
    width: 100%;
}

@media (min-width: 992px){
    .sign-in .container,
    .sign-in input[type="password"],
    .sign-in input[type="text"]{
        max-width: 437px;
    }
    }

/*  */